*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #313D52;
}
	
.nanav{
width: 1000px;
margin: 30px auto;
background: #fffff0;
`}
	
.nanav ul{
	 list-style: none;	
}

.menu > li{
	/*position: relative;*/
	display: inline-block;
}

.menu > li >a{
	display: block;
	padding: 15px 20px;
	color: #000;
	font-family: "Bahnschrift Light";
	text-decoration: none;
	}
	
.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
	}

/*submenu*/	

.submenu{
	position: absolute;
	background-color: #333333;
	width: 25%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
display: block;
padding: 15px;
color: #fff;
font-family: "Bahnschrift Light";
text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}


	
	
}
	